/*
font-family: 'Nunito', sans-serif; Texto
font-family: 'Rokkitt', serif; Titulos
*/
body,html{
    background-color: #F0FFF3;
    box-sizing: border-box;
    height: 100%;
    position: relative;
}
/*Idioma*/
.contenedor-idioma .container-fluid>p{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #70ACB1;
    font-size: 2em;
    display: block;
    margin-bottom: 20px;
}
.contenedor-botones{
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 20%;
}
.contenedor-botones a{
    margin: 10px 0 40px 50px;
    text-decoration: none;
    display: inline-block;
    background-color: #70ACB1;
    border: 1px solid #70ACB1;
    border-radius: 20px #70ACB1;
    padding: 10px;
    font-size: 2em;
    color: #59606D;
    font-family: 'Rokkitt', serif;
}
.contenedor-botones a:hover{
    background-color: #F0FFF3;
    border: 2px solid #70ACB1;
}
@media only screen and (min-width: 1084px){
    .contenedor-botones{
        margin-left: 30%;
}
}
@media only screen and (min-width: 768px){
    .contenedor-botones{
        margin-left: 25%;
    }
    .contenedor-botones a{
        margin: 10px 0 40px 100px;
    }
}
/*Home Page*/
.imagen-parallax{
    background-image: url(../../img/wos.jpg);
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 1.5;
    box-sizing: border-box;
}
.icono-menu{
    display: block;
    position: fixed;
    color: #C6F1E7;
    font-size: 1.5em;
    top: 5%;
    left: 90%;
}
.texto-imagen-parallax{
    display: inline-block;
    position: absolute;
    min-width: 32%;
    top: 80%;
    left: 35%;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
}
.texto-imagen-parallax>h1{
    color: #70ACB1;
    font-family: 'Rokkitt', serif;
    margin: 0;
    font-weight: bold;
}
/*Contenido*/
.cuerpo-texto, .content-bar{
    box-sizing: border-box;
}
.cuerpo-texto>h1{
    text-align: center;
    color: #70ACB1;
    font-family: 'Rokkitt', serif;
}
.cuerpo-texto p{
    font-size: 1.5em;
    text-align: justify;
    margin: 30px 0 160px 40px;
    display: block;
    padding: 40px;
    border-bottom: solid 1px #59606D;
}
.texto-cursiva{
    font-style: italic;
    font-weight: bolder;
    font-size: 1em;
    text-align: justify;
    color: #70ACB1;
}
.content-bar{
    display: block;
    margin: 60px 50px 0 10px;
}
.content-bar ul li{
    margin-bottom: 15px;
    display: block;
    margin-left: 50px;
    font-size: 1.2em;
    text-align: center;
    color: #222831;
}
.content-bar ul li:hover{
    text-decoration: none;
    border: none;
    border-radius: none;
}
/*Paqutes*/
.paquetes-contenido{
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
.paquetes-contenido h3{
    color: #70ACB1;
    display: inline-block;
    text-align: center;
    margin: 10% 0 0 45%;
    padding-bottom: 10%;
    font-family: 'Rokkitt', serif;
    font-weight: bold;
    font-size: 2.5em;
}
.paquetes-contenido .cal{
    margin: 10% 0 0 35%
}
.paquetes-contenido p{
    color: #59606D;
    display: block;
    text-align: justify;
    margin: 0 0 10% 10%;
    padding-bottom: 10%;
    padding: 0;
}
.paquetes-contenido .img-responsive{
    width: 678px;
    max-width: 678px;
    height: 400px;
    max-height: 400px;
    margin: auto;
    margin: 0 0 0 10%;
}
.jumbotron{
    margin: 0 0 15% 5%;
    padding-bottom: 0;
}
.jumbotron h1{
    color: #70ACB1;
}
.jumbotron p{
    margin: 0 0 2% 1%;
    padding-bottom: 0;
    border: none;
    color: #59606D;
}
.jumbotron a{
    margin-left: 50%;
    background-color: #C6F1E7;
    color: #59606D;
    margin-bottom: 5%;
}
.jumbotron a:hover{
    background-color: #70ACB1;
}
.contacto a>span{
    display: inline-block;
    font-size: 2em;
    margin: 5% 0 5% 25%;
    cursor:  pointer;
    color: #59606D;
}
.contacto a>span:hover{
    color: #70ACB1;
}
/*Responsive*/
@media only screen and (max-device-width:1024px){
    .imagen{
        background-attachment: scroll;
    }
}
