/*
font-family: 'Indie Flower', cursive; =>Titulos
font-family: 'Roboto', sans-serif; =>Texto
*/
body,html{
    background-color: #EEEEEE;
    box-sizing: border-box;
    height: 100%;
}
/*Idioma*/
.contenedor-idioma .container{
    box-sizing: border-box;
    margin: auto;
    margin-top: 5%;
    margin-left: 35%;
    background-color: #EEEEEE;
    border: 2px solid #222831;
    width: 400px;
    max-width: 400px;
    height: 400px;
    max-height: 400px;
    box-shadow: 10px 5px #393E46;
    overflow: visible;
}
.contenedor-idioma .container>p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222831;
    font-size: 1.5em;
    display: block;
    margin-bottom: 20px;
}
.contenedor-botones{
    margin-bottom: 20px;
}
.contenedor-botones a{
    margin: 10px 0 40px 120px;
}
.contenedor-botones>a{
    margin-left: 120px;
}
.contenedor-botones a{
    text-decoration: none;
    display: inline-block;
    background-color: #393E46;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 2em;
    color: #EEEEEE;
    font-family: 'Indie Flower', cursive;
}
.contenedor-botones a:hover{
    background-color: #00ADB5;
}
/*Responsive*/
@media only screen and (max-width: 750){
    .contenedor-idioma .container{
        margin-left: 5%;
        width: 100px;
        max-width: 100px;
    }
}
/*Home Page*/
.imagen-parallax{
    background-image: url(../../img/her.jpg);
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 1.5;
    box-sizing: border-box;
}
.icono-menu{
    display: block;
    position: fixed;
    color: #00ADB5;
    font-size: 1.5em;
    top: 5%;
    left: 90%;
}
.icono-app{
    display: block;
    position: absolute;
    color: #00ADB5;
    font-size: 1.7em;
    top: 5%;
    left: 5%;
}
.icono-app h3{
    font-size: .5em;
    margin-top: 0;
}
.texto-imagen-parallax{
    display: inline-block;
    position: absolute;
    background-color: #222831;
    min-width: 32%;
    top: 80%;
    left: 35%;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    opacity: 0.5;
}
.texto-imagen-parallax>h1{
    color: #EEEEEE;
    font-family: 'Indie Flower', cursive;
    margin: 0;
}
.texto-imagen-parallax h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.cuerpo-texto>h1{
    text-align: center;
    color: #00ADB5;
}
.cuerpo-texto p{
    text-align: justify;
    margin-left: 10px;
}
.content-bar{
    margin-top: 50px;
    display: block;
    border: 1px solid #00ADB5;
}
.content-bar li{
    margin-bottom: 15px;
}
/*Responsive*/
@media only screen and (max-device-width:1024px){
    .imagen{
        background-attachment: scroll;
    }
}
